<table border="1" style="width:100%">
<caption>EMEA</caption>
<tr><th>Start Time</th><th>Shown As</th></tr>
<% @accounts.each do |account| %>
  <tr>
     <td><%= account.AccountId %></td>
    <td><%= account.StartDateTime %></td>
  </tr>
<% end %>
</table>
