<table>
<tr><th>Account</th><th>ID</th></tr>
<% @client.each do |event| %>
  <tr>
     <td><%= event.Name %></td>
     <td><%= event.Id %></td>
  </tr>
<% end %>
</table>
<%client.without_caching do
client.query('select Id from Account')
end%>